### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


# Archivos de configuración que contienen credenciales sensibles
src/main/resources/application.properties

# Opcionalmente, ignorar todos los archivos de propiedades en resources
# src/main/resources/*.properties

# Siempre es bueno ignorar los directorios de construcción e IDEs
/target/
.idea/
*.iml