# Archivos de configuración que contienen credenciales sensibles
#src/main/resources/application.properties

# Opcionalmente, ignorar todos los archivos de propiedades en resources
# src/main/resources/*.properties

# Siempre es bueno ignorar los directorios de construcción e IDEs
/target/
.idea/
lib/
out/
*.properties
*.iml